{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar Producto</title>
    <link rel="stylesheet" href="{% static 'productos/estilos.css' %}">
</head>
<body>

    <h1>Buscar Producto por ID</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="id_producto" placeholder="ID del producto">
        <button type="submit">Buscar</button>
    </form>

    {% if resultado %}
        <h2>Resultado:</h2>
        <p><strong>{{ resultado.title }}</strong></p>
        <p>Precio: S/. {{ resultado.price }}</p>
        <p>{{ resultado.description }}</p>
        <img src="{{ resultado.image }}" width="150">
    {% endif %}

    <br><a href="/">← Volver al listado</a>
</body>
</html>
